*{margin: 0; padding: 0; box-sizing: border-box};

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

$font-roboto: Roboto, sans-serif;
$font-monster: Open Sans Condensed, sans-serif;
$font-dosis: Dosis, sans-serif;
$font-Raleway: Raleway, sans-serif;

.landingPage {
    width: 100%;
    height: 64vh;

        #landingPageGrid{
        height: 64vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 11.3vh 11vh 14vh 7.7vh 20vh;
    }

        .scubaHero{
            height: 100vh;
            width: 100%;

            background-image: url(img/scuba2.jpg);
            background-repeat: no-repeat;
            background-size: 100%;

            position: absolute;
            top: -29vh;
            z-index: -5;
        }

        #scuba-text-box{
            width: 100%;
            grid-column: 2/4;
            grid-row: 3/4;
            
        }

        #scuba-text-center{
            width: 100%;
            height: 100%;

            padding: 2vw;

            text-align: center;

            background-color: rgba(255, 255, 255, 0.7);
        }

        h1{
            font: 100% $font-Raleway;
            font-size: 2.8vh;
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: -2px;
        }

        #scuba-text-center > p{
            font: 100% $font-Raleway;
            font-size: 1.5vh;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 0.5vh;
        }
    }
